!! Xresources

!! Sxiv
!
!background of window
Sxiv.background:	#c0c0c0
! foreground of bar
Sxiv.foreground:	#ffffff
! background of bar (requires bar background patch (386.diff on pr))
Sxiv.barBackground:	#000080
! font of bar
Sxiv.font:		sans:size=9
